<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Pointless App | Home</title>
  </head>
  <body>
	<div class="text-center container">
		<h1 class="display-1 text-primary">Welcome! </h1>
		<h2>It's a new app that I have deployed on Heroku!</h2>
		<h4>(It does absolutely nothing!)</h4>
		<a href="/stuff" class="btn btn-info my-3">Some stuff</a>
	</div>
	  
	
  </body>
</html>